<main>
    <div class="grid" >
<div *ngFor="let items of test">
    <h2>
        {{items.testname}}
    </h2>
    <h3>
        No. of Question : {{items.noOfQuestion}}
    </h3>
    <h3>
        Marks For Each Question : {{items.marksperquestion}}
    </h3>
    <h3>
        Total Marks : {{items.marks}}
    </h3>
      <h3>
            About
        </h3>
    <ul  *ngFor="let mini of items.abouttest">
      
        <li>{{mini}}</li>
    </ul>
    <a class="apply" routerLink="exam" (click)="storeexam(items.testname)">
        Apply
    </a>
</div>
    </div>
</main>