<main>
<div class="form" id="frm">
    <input type="text" id="username" placeholder="Type Your Name" value="">
    <button (click)="showtime()">
        Start
    </button>
    <div id="datehere" class="data">

    </div>
</div>
<h1>
    {{title}}
</h1>

<div class="answer" id="ans">

</div>

<div class="question">
    <div class="maindiv">
        <div *ngFor="let item of exam" id="{{item.question}}" class="quest">
{{item.id}}. {{item.question}}
<div class="block">
<button id="btncolor"*ngFor="let i of item.option" id="{{i}}"  name="item.correct" (click)="check(item.correct,i,item.question)">
    {{i}}
</button>
</div>
</div>
</div>
</div>

<div class="got" id="got">
You Got Total {{count}} Marks Out Of {{total}}
</div>

<div class="last">
    <button class="submit" (click)="onsub()">
        Submit
    </button>
</div>




</main>