footer{
    background-color: #141414;
    padding: 2em;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 20px;
}

footer a{
    display: block;
    width: 100%;
    text-align: center;
    text-decoration: none;
    border: 2px solid lime;
    font-size: 1rem;
    color: lime;
    padding: .8em;
    margin: 1em;
    border-radius: 10px;
    box-shadow: 0px 0px 10px lime,0px 0px 10px lime inset;
    background:linear-gradient(to right,transparent,transparent,lime,transparent,transparent);
    transition: 1s;
    background-size: 400%;
    background-position: left;

}

footer a:hover{
    box-shadow: 0px 0px 10px white,0px 0px 10px white inset;
    color: white;
    border-color: white;
    background-position: right;
}

footer h5{
    font-size: 1rem;
    color: yellow;
    text-shadow: 0px 0px 10px yellow;
    padding: .8em;
    margin: 1em;
    border: 2px solid transparent;
    cursor: default;
    transition: 200ms;
}

footer h5:hover{
    color: cyan;
    text-shadow: 0px 0px 10px cyan;
}

footer p{
    color: red;
    text-shadow: 0px 0px 10px red;
    font-size: 1rem;
}

h2{
    color: white;
    text-shadow: 0px 0px 10px white;
    text-align: center;
    background-color: #141414;
    margin: 0;
    padding-bottom: 20px;
}

@media (max-width:600px) {
    footer{
        grid-template-columns: auto auto;
    }
}