.cont{   
    border: 3px solid black;
   padding: 1em;
   border-radius: 10px;
   margin: 1em;
   color: black;
}

.cont:nth-child(2){   
    border: 3px solid red;
   padding: 1em;
   border-radius: 10px;
   margin: 1em;
   color: red;
}

.cont:nth-child(3){   
    border: 3px solid brown;
   padding: 1em;
   border-radius: 10px;
   margin: 1em;
   color: brown;
}

.cont:nth-child(1){   
    border: 3px solid green;
   padding: 1em;
   border-radius: 10px;
   margin: 1em;
   color: green;
}